################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pomfun.web/bin/Debug/netcoreapp2.2
