################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pomfun.web/bin
/pomfun.web/obj
/pomfun.web/.vs
