@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">
        <a href="/" class="pomfuntitle">
            <span style="color:red;">p</span><span style="color:orange;">o</span><span style="color:yellow;">m</span><span style="color:green;">f</span><span style="color:blue;">u</span><span style="color:indigo;">n</span>!
        </a>
    </h1>
    <h2 style="color: mediumturquoise;">Books</h2>
</div>

<div class="row">

</div>

<div class="row">
    <div class="col-12 text-center">
        <a href="/Art" class=" " title="Art Projects">
            <img src="~/img/art-logo.png" width="48" />
        </a>
        <a href="/Books" class=" " title="Book Reports">
            <img src="~/img/books-logo.png" width="48" />
        </a>
        <a href="/Games" class=" ">
            <img src="~/img/games-logo.png" width="48" />
        </a>
        <a href="/Jokes" class="" title="Jokes">
            <img src="~/img/jokes-logo.png" width="48" />
        </a>

    </div>
</div>