@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span style="color:red;">p</span><span style="color:orange;">o</span><span style="color:yellow;">m</span><span style="color:green;">f</span><span style="color:blue;">u</span><span style="color:indigo;">n</span>!</h1>
    
    <hr width="61%" />

    <p class="lead">
       fun and games &mdash; for kids, by kids. 
    </p>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-12 pomtile" >
        <a href="/Art" class=" " title="Art Projects" >
            <img src="~/img/art-logo.png" width="256" />
        </a>  
    </div>
    <div class="col-lg-3 col-sm-12 pomtile" >
        <center>
            <a href="/Books" class=" " title="Book Reports" >
                <img src="~/img/books-logo.png" width="256" />
            </a>
        </center>
    </div>
    <div class="col-lg-3 col-sm-12 pomtile" >
        <a href="/Games" class=" ">
            <img src="~/img/games-logo.png" width="256" />
        </a>
    </div>
    <div class="col-lg-3 col-sm-12 pomtile" >
        <a href="/Jokes" class="" title="Jokes">
            <img src="~/img/jokes-logo.png" width="256" />
        </a>
    </div>
</div>

@*Todo: 1. Discuss theme.
      2. Discuss sitemap.
      3. Discuss home page content.
      4. Start coding.*@
