@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <span style="color:red;">p</span><span style="color:orange;">o</span><span style="color:yellow;">m</span><span style="color:green;">f</span><span style="color:blue;">u</span><span style="color:indigo;">n</span>!</h1>
    
    <hr width="61%" />

    <p class="lead">
        Explore and share creative projects by kids for kids.
    </p>
</div>

@*Todo: 1. Discuss theme.
      2. Discuss sitemap.
      3. Discuss home page content.
      4. Start coding.*@
